.ListingsItemComponent {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: block;
  color: #333;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:hover {
    background-color: #f0f0f0;
  }

  &__details {
    float: left;
    padding-left: 10px;
    &--bold {
      font-weight: bold;
    }
  }

  &__thumbnail {
    float: left;
    height: 60px;
    width: 89px;
    border: 1px solid #e4e4e4;
  }

  &__bookmark {
    float: right;
    color: #c3c565;
  }
}
