/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require webpack-bundle
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.page-wrapper {
  width: 800px;
  margin: 0 auto;

  img.booli-logo {
    max-width: 100px;
    margin: 15px 0;
  }
}

.box {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px;
  box-shadow: 0 0 5px -3px #000;
  margin-bottom: 10px;
}
