<!DOCTYPE html>
<html>
  <head>
    <title>BooliRailsReactRedux</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="page-wrapper">
      <%= link_to image_tag('booli_logo.png', alt: 'Booli logo', class: 'booli-logo'), :root %>
      <%= yield %>
    </div>
  </body>
</html>
